# Truth Value Testing

In [1]:
from decimal import Decimal
from fractions import Fraction
print(bool(0))
print(bool(0.0))
print(bool(0j))
print(bool(Decimal(0)))
print(bool(Fraction(0, 1)))

False
False
False
False
False

In [2]:
print(bool(''))
print(bool(()))
print(bool([]))
print(bool({}))
print(bool(set()))
print(bool(range(0)))

False
False
False
False
False
False

In [4]:
s = 'eder'
if s:
    print(True)

True

# Value comparisons. Some Features

In [5]:
x = float('NaN')

In [6]:
x == x, x is x

(False, True)

In [8]:
y = Decimal('NaN')

In [11]:
y == y, y is y

(False, True, True)

In [12]:
10 < x, 10 > x

(False, False)

In [13]:
'a' > 'A'

True

In [14]:
'a' > 'XXXXX'

True

In [15]:
'a' > 'aA'

False

In [18]:
max([1, [2, -1], -2])

TypeError: '>' not supported between instances of 'list' and 'int'

In [17]:
max(['1', 2, 2.3, '2'])

TypeError: '>' not supported between instances of 'int' and 'str'

# if … elif … else …

### Example

In [20]:
from random import randint
a, b = randint(0, 2), randint(0, 2)
print(a, b)

1 2

In [21]:
if a == b:
    print(f'a = {a} and b = {b} are equal')
elif a > b:
    print(f'a = {a} is greater than b = {b}')
else:
    print(f'a = {a} is less than b = {b}')

a = 1 is less than b = 2

### Example

In [24]:
x = int(input('Please enter an integer: '))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer:  -5

Negative changed to zero

# Nested if … elif … else …

### Example. Not recommended

In [ ]:
score = 69
if score >= 90:
    letter = 'A'
else:
    if score >= 82:
        letter = 'B'
    else:
        if score >= 75:
            letter = 'C'
        else:
            if score >= 64:
                letter = 'D'
            else:
                if score >= 60:
                    letter = 'E'
                else:
                    letter = 'F'
print(letter)

### Example. Recommended

In [ ]:
score = 69

if score >= 90:
    letter = 'A'
elif score >= 82:
    letter = 'B'
elif score >= 75:
    letter = 'C'
elif score >= 64:
    letter = 'D'
elif score >= 60:
    letter = 'E'
else:
    letter = 'F'
print(letter)

### Example. Not recommended

In [26]:
year = 2019

if year % 400 == 0:
    print(True)
elif year % 100 == 0:
    print(False)
elif year % 4 == 0:
    print(True)
else:
    print(False)

False

### Example. Recommended

In [27]:
year = 2019

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print(True)
else:
    print(False)

False

# Conditional operator

In [28]:
a, b = randint(0, 100), randint(0, 1000)
print(a, b)

81 28

In [29]:
a if a > b else b

81

In [34]:
x = 1 and 2
print(x)

2

In [35]:
x = [] and 'Python'
print(x)

[]

In [36]:
x = 1 or 2
print(x)

1

In [37]:
x = [] or 'Python'
print(x)

Python

# Alternative ways to implement ternary operator

### Using Python Tuples

In [30]:
print(a, b)
print((a, b)[a > b])
print((b, a)[a > b])

81 28
28
81

### Using Python Dictionaries

In [32]:
print(a, b)
print({False: b, True: a}[a > b])
print({False: b, True: a}[a < b])

81 28
81
28

### Using Logical operators

In [33]:
print(a, b)
print(a > b and a or b)
print(a < b and a or b)

81 28
81
28

# Logical Expressions. Example

### Using Flow Control Operators

In [ ]:
x, y = float(input('x = ')), float(input('y = '))
if y >= abs(x) and y <= 1.0:
    print('True')
else:
    print('False')

### Using Logical Operators

In [ ]:
x, y = float(input('x = ')), float(input('y = '))
print(y >= abs(x) and y <= 1.0)